{% extends "users_acc/baseNoNavBar.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page requests a confirmation that the user does want to delete a file and remove it from the database.
-->
<div class="white">
    <div class="verification">Are you sure you want to delete this file?</div>
        <form action="{% url 'upload_download_file_delete' file %}" method="post">
            <div class="button deleteConfirmButton">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-large btn-block">Delete</button>
                <a href="{% url 'upload_download_file_download' %}"
                    class="btn btn-primary btn-large btn-block">Cancel</a>
            </div>
        </form>
</div>
{% endblock content %}