{% extends "users_acc/base.html" %}
{% block content %}
<!-- 
    Author: Brandon Breen and George Esho
    This page allows a user to browse their desktop to upload a file to the database under their account.
    The following file types are the only acceptable file types: .doc,.docx,.odf,.pdf,.jpeg,.jpg,.png,.bmp,.gif.
    Any other file type uploaded will lead to a failed upload.
    Any file uploaded greater than 75mb will lead to a failed upload.
-->
<div class="white">
    <div class="fileUpload">File Upload</div>
    
    <form method="post" enctype="multipart/form-data" class="File">
        {% csrf_token %}
        <!-- <div class="button"> -->
        <div class="uploading">
            <p>File Type</p>
            <p>{{form.file_type}}</p>
            <input type="file" accept=".doc,.docx,.odf,.pdf,.jpeg,.jpg,.png,.bmp,.gif" name="file" id="file" />
            <input type="submit" value="Upload File" />

        </div>

    </form>
</div>
{% endblock content %}