{% extends "users_acc/baseNoNavBar.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page informs a user that their file has failed to download and redirects them to the download page.
-->
<div class="verification">
    Download Failed.
</div>
<!-- <div class="checkmark"></div> -->
<div class="almostDone">
    <span>Please return to the previous page and try again.</span>
</div>

<div class="button fileUploadCompleteButton">
    <a href="{% url 'upload_download_file_download' %}" class="btn btn-primary btn-large btn-block">Return</a>
</div>
{% endblock content %}