<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Treeo</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
{% load static %}
{% load humanize %}
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css">
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> -->
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

</head>
<body>
    <div id="container">
		<div class="theT"></div>
        {% if user.is_authenticated %}
		{% if user.user_type == 1 %}
		<div id="navwrapper">
			<ul>
				<li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
				<!-- <li><a class="nav-link" href="{% url 'admin_view' %}">assign trio</a></li> -->
				<li><a class="nav-link" href="{% url 'doctor_registration' %}">Register Provider</a></li>
				<!-- <li><a class="nav-link" href="{% url 'admin_approve_provider_render' %}">approve provider</a></li> -->
				<li><a class="nav-link" href="{% url 'reqAppt' %}">Appointments</a></li>
				<li><a class="nav-link" href="{% url 'Health_Coach' %}">Messages</a></li>
				<li><a class="nav-link" href="{% url 'upload_download_file_upload' %}">File Upload</a></li>
				<li><a class="nav-link" href="{% url 'upload_download_file_download' %}">File Download</a></li>
				<!-- <li><a class="nav-link" href="{% url 'profile' %}">account</a></li> -->
				<li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
			</ul>
		</div>
		{% else %}
		<div id="navwrapper">
			<ul>
				<li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
				<li><a class="nav-link" href="{% url 'reqAppt' %}">Appointments</a></li>
				<li><a class="nav-link" href="{% url 'patientlog' %}">Health Log</a></li>
				<li><a class="nav-link" href="{% url 'upload_download_file_upload' %}">File Upload</a></li>
				<li><a class="nav-link" href="{% url 'upload_download_file_download' %}">File Download</a></li>
				<li><a class="nav-link" href="{% url 'Health_Coach' %}">Messages</a></li>
				<li><a class="nav-link" href="{% url 'profile' %}">Account</a></li>
				<li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
			</ul>
		</div>
		{% endif %}
		{% endif %}
    </div>
<div class="wrapper">
    <div class="messageContainer">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search" id="search"/>
<!--                <a href="javascript:;" class="search"></a>-->
            </div>
            <ul class="people" id="listOfPeople">
                {% if master_list %}
                {% for i in master_list %}
                    <li class="person" id="person{{i.0.id}}">
                    <img src="{{i.0.sender.profile_pic.url}}" alt="" />
                    {% if i.0.sender.usertype == 1%}
                    <span class="name">Treeo Admin</span>
                    {% else %}
                    <span class="name">{{i.0.sender.get_full_name| truncatechars:15}}</span>
                     {% endif %}
                    <span class="time">{{i.0.last_message_time | naturaltime}}</span>
                    {% if i.1.0 %}
                    <span class="preview">{{i.1.0.msgbody | truncatechars:15}}</span>
                    {% else %}
                     <span class="preview"></span>
                    {% endif %}
                </li>
                {%endfor%}
                {% else %}
                <li class="person" id="person0">
                    <img src="img/profile.png" alt="" />
                    <span class="name"></span>
                    <span class="time"></span>
                    <span class="preview"></span>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name"></span></span></div>
                {% if master_list %}
                {% for i in master_list %}
                <div class="chat" id="person{{i.0.id}}chat">
                <div class="conversation-start">
                    {% if i.1.0 %}
                    <span>{{i.1.0.send_time}}</span>
                    {% else %}
                    <span></span>
                    {% endif %}
                </div>
                {% if i.1 %}
                {% for j in i.1 %}
                {% if j.sender == user %}
                <div class="bubble me">
                    {% if j.msgbody %}
                    {{j.msgbody}}
                    {% endif %}
                </div>
                {% else %}
                <div class="bubble you">
                    {% if j.msgbody %}
                    {{j.msgbody}}
                    {% endif %}
                </div>
                {% endif %}
                {%endfor%}
                {% else %}
                <div class="bubble you">
                    No Messages Yet
                </div>
                {% endif %}
            </div>
                {%endfor%}
                {% else %}
            <div class="chat" id="person0chat">
                <div class="conversation-start">
                    <span>Today, 6:48 AM</span>
                </div>
                <div class="bubble you">
                </div>
            </div>
                {% endif %}
            <div class="write" id="write">
                <a href="javascript:;" class="write-link attach"></a>
                 <form method="POST" id="form1">
                 {% csrf_token %}
                 {{form}}
                 <input type="hidden" id="convoid" name="convoid" value="">
                </form>
<!--                <a href="javascript:;" class="write-link send"></a>-->
            </div>
        </div>
    </div>
</div>

  <script>
var search = document.getElementById('search');
search.onkeyup = function () {
    var filter = search.value.toLowerCase();
    var pllist = document.getElementsByTagName('li');
    for (var i = 0; i < pllist.length; i++) {
        var name = pllist[i].getElementsByClassName('name')[0].innerHTML;
        if (name.toLowerCase().includes(filter) == true)
            pllist[i].style.display = 'list-item';
        else
            pllist[i].style.display = 'none';
    }
}

let persons = {
        list: document.querySelector('ul.people'),
        all: document.querySelectorAll('.left .person'),
        name: '' },

    chat = {
        container: document.querySelector('.messageContainer .right'),
        current: null,
        person: null,
        name: document.querySelector('.messageContainer .right .top .name') };


persons.all.forEach(f => {
    f.addEventListener('mousedown', () => {
        f.classList.contains('active') || setAciveChat(f);
    });
});

{% if curconvo %}
console.log('#' +'person'+'{{curconvo}}' + 'chat');
console.log('#' +'person'+'{{curconvo}}');
document.querySelector('#' +'person'+'{{curconvo}}' + 'chat').classList.add('active-chat');
document.querySelector('#' +'person'+'{{curconvo}}').classList.add('active');
{% else %}
document.querySelector('.chat').classList.add('active-chat');
document.querySelector('.person').classList.add('active');
{% endif %}

var temp = document.querySelector('.person').getAttribute('id');
document.getElementById("convoid").value = temp.slice(6);
function setAciveChat(f) {
//need some error handling ifs here tha handle null exceptions
    persons.list.querySelector('.active').classList.remove('active');
    f.classList.add('active');
    // should have some error handling for null exception
    chat.current = chat.container.querySelector('.active-chat');
    chat.person = f.getAttribute('id');
    chat.current.classList.remove('active-chat');
    //console.log('[id="#' + chat.person + 'chat"]');
    console.log(document.querySelector('#' + chat.person + 'chat'));
    chat.container.querySelector('#' + chat.person + 'chat').classList.add('active-chat');
    persons.name = f.querySelector('.name').innerText;
    chat.name.innerHTML = persons.name;
    document.getElementById("convoid").value = chat.person.slice(6);
    console.log(document.getElementById("convoid").value);
}</script>

</body>
</html>
