{% extends "users_acc/base.html" %}
{% block content %}
<h1>Inbox</h1>
{% if message_list %}
<table>
    <thead>
        <tr><th>Sender</th><th>Subject</th><th>Received</th><th>Status</th><th>Reply</th></tr>
    </thead>
    <tbody>
{% for message in message_list %}
    <tr>
        <td>{{ message.sender.username }}</td>
        <td>{{ message.subject }}</td>
        <td>{{ message.send_time|date:_("DATETIME_FORMAT") }}</td>
        <td>{{ message.read_status }}</td>
        <td>{{ message.read_status }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>No Messages</p>
{% endif %}
{% endblock %}