{% extends "base.html" %}
{% block content %}
<b>Profile</b>
<div>
<b>Username</b>
    <h1>{{user.username}}</h1>
<b>Email</b>
    <h1>{{user.email}}</h1>
<b>First Name</b>
    <h1>{{user.first_name}}</h1>
<b>Last Name</b>
    <h1>{{user.last_name}}</h1>
<div>
<a href="{% url 'edit_profile' %}" class="btn btn-primary btn-large btn-block">Edit Profile</a>
    <div>
<a href="{% url 'pass_reset' %}" class="btn btn-primary btn-large btn-block">Change Password</a>
</div>
    </div>
    </div>
{% endblock content %}