{% extends "ReqAppt/apt_base.html" %}
{% block content %}
<div class="container">
  <div class="first">
    <div class="heading">
      <h2 >Notes</h2>
    </div>
    <p>{{apptArchive.meetingDate}}</p>
    <table class="table">
      <thead>
        <tr>
          <th>Notes</th>
        </tr>
      </thead>
      {% for i in aptnotes %}
      <tr>
        <td> {{i.notes}}</td>
      <tr>
      {%endfor%}
</table>
<!--      if provider show this else dont-->
        <form method="post">
        {% csrf_token %}
        <!-- <div class="button"> -->
        {{form}}
        <input type="submit" value="Submit" /></p>
        <!-- </div> -->
    </form>
</div>
</div>
{% endblock content %}