{% extends "users_acc/base.html" %}
{% block content %}
<div class="white">
    <div class="first">
        <div class="notes">Notes</div>
        <p>{{apptArchive.meetingDate}}</p>
        <div class="notesTable">
            <!-- <div class="messagingTable"> -->
            <table class="table">
                <!-- <thead>
                    <tr>
                        <th>Notes</th>
                    </tr>
                </thead> -->
                {% for i in aptnotes %}
                <tr>
                    <td> {{i.notes}}</td>
                <tr>
                    {%endfor%}
            </table>
        </div>
        {% if user.user_type == 2 %}
        <form method="post">
            {% csrf_token %}
            <div class="notesSubmit">
                {{form.notes}}
                <p><input type="submit" value="Submit" /></p>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}