{% extends "users_acc/baseNoNavBar.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page apppears when the user clicks on the email activation link.
-->
<div class="verification">
    Email Verified.
</div>
<div class="checkmark"></div>
<div class="almostDone">
    <span>You've successfully created your account.</span>
    Continue to log into your health portal.
</div>

<div class="button portalButton">
    <a href="{% url 'home' %}" class="btn btn-primary btn-large btn-block">Go To Portal</a>
</div>
{% endblock %}