{% extends "users_acc/base.html" %}
{% block content %}
{% load static %}
<div class="white">
    <div class="appointments">providers</div>
    
    <div class="careTeamTable">
        <table class="table approve">
            <thead>
                <tr>
                    <th>name</th>
                    <th>Deactivate User</th>
                    <th>Reactivate User</th>
                </tr>
            </thead>
            <tbody>
                {% for a in results %}
                <tr>
                    <td class="careTeamBubble">{{a.get_full_name|lower}}</td>
                    {%if a.is_active%}
                    <td>
                        <form method="POST" >
                         {% csrf_token %}
                         <input type="hidden" id="id" name="id" value="{{a.id}}">
                         <input type="submit" name="btn" value="X" class="providerApprove button btn btn-primary btn-large btn-block">
                        </form>
                    </td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    {%if a.is_active%}
                    <td></td>
                    {% else %}
                    <td>
                         <form method="POST" >
                         {% csrf_token %}
                         <input type="hidden" id="id2" name="id2" value="{{a.id}}">
                         <input type="submit" name="btn" value="✓" class="providerApprove button btn btn-primary btn-large btn-block">
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}