{% extends "users_acc/base.html" %}
{% block content %}
{% load static %}
<div class="white">
    <div class="appointments">providers</div>
    <div class="theT"></div>

    <div class="patient">patient: {{patient.user.first_name|lower}} {{patient.user.last_name|lower}}</div>
    <form action="" method="post">
        <div class="careTeamTable">
            <table class="table">
                <thead>
                    <tr>
                        <th>provider type</th>
                        <th>name</th>
                        <th>assign</th>
                        <th>remove</th>
                    </tr>
                </thead>
                <tbody>
                    <!--# provider.user.last_name.-->
                    <!--# user.related profile name.Patient_count-->
                    <!--{{ object.get_chices_display }}-->
                    <tr>
                        {% if patient.doc_d %}
                        <td>dietician</td>
                        <td>{{patient.doc_d.user.first_name|lower}} {{patient.doc_d.user.last_name|lower}}</td>
                        <td></td>
                        <td><a href="{% url 'admin_remove_provider' patient.id patient.doc_d.id %}"><img alt="Delete"
                                    src="{% static 'img/trash.png' %}" width="30" height="40" alt=""
                                    loading="lazy" /></a>
                        </td>
                        {% else %}
                        <td>dietician</td>
                        <td>not assigned</td>
                        <td>{{form.doc_d}}</td>
                        <td></td>
                        {% endif %}
                    <tr>
                        {% if patient.doc_c %}
                        <td>coach</td>
                        <td>{{patient.doc_c.user.first_name|lower}} {{patient.doc_c.user.last_name|lower}}</td>
                        <td></td>
                        <td><a href="{% url 'admin_remove_provider' patient.id patient.doc_c.id %}"><img alt="Delete"
                                    src="{% static 'img/trash.png' %}" width="30" height="40" alt=""
                                    loading="lazy" /></a>
                        </td>
                        {% else %}
                        <td>health coach</td>
                        <td>not assigned</td>
                        <td>{{form.doc_c}}</td>
                        <td></td>
                        {% endif %}
                    <tr>
                        {% if patient.doc_p %}
                        <td>physician</td>
                        <td>{{patient.doc_p.user.first_name|lower}} {{patient.doc_p.user.last_name|lower}}</td>
                        <td></td>
                        <td><a href="{% url 'admin_remove_provider' patient.id patient.doc_p.id %}"><img alt="Delete"
                                    src="{% static 'img/trash.png' %}" width="30" height="40" alt=""
                                    loading="lazy" /></a>
                        </td>
                        {% else %}
                        <td>physician</td>
                        <td>not assigned</td>
                        <td>{{form.doc_p}}</td>
                        <td></td>
                        {% endif %}
                </tbody>
            </table>
        </div>
        {% csrf_token %}
        <div class="button assignProvidersButton">
            <button type="submit" class="btn btn-primary btn-large btn-block">assign providers</button>
            <a href="{% url 'admin_view' %}" class="btn btn-primary btn-large btn-block">
                select a different patient</a>
        </div>
    </form>
</div>
{% endblock content %}