{% extends "users_acc/base.html" %}
{% block content %}

<div class="white">
<!--    {% if patient %}-->
<!--    <p>{{patient.user.first_name}}</p>-->
<!--    <p>{{patient.user.last_name}}</p>-->
<!--    {% else %}-->
<div class="appointments">Providers</div>


      <div class="apptArchiveTable">
        <table class="table">
          <thead>
            <tr>
              <th>Patient Name</th>
              <th>Physician</th>
              <th>Dietician</th>
              <th>Health Coach</th>
              <th>Assign Team</th>
          <!-- <th>View Notes</th> -->
            </tr>
        </thead>
      {% for i in patients %}
          <tr>
            <td> {{i.user.first_name}} {{i.user.last_name}}</td>
              {% if i.doc_p %}
            <td>{{i.doc_p.user.first_name}} {{i.doc_p.user.last_name}}</td>
              {% else %}
              <td>Unassigned</td>
              {% endif %}
            {% if i.doc_d %}
            <td>{{i.doc_d.user.first_name}} {{i.doc_d.user.last_name}}</td>
              {% else %}
              <td>Unassigned</td>
              {% endif %}
              {% if i.doc_c %}
            <td>{{i.doc_c.user.first_name}} {{i.doc_c.user.last_name}}</td>
              {% else %}
              <td>Unassigned</td>
              {% endif %}
              <td><a class="appointmentBubbleApprove button btn btn-large btn-block" href="{% url 'admin_display_team' i.id %}"><span> Assign Team</span></a></td>
         <tr>
      {%endfor%}
      </table>
    </div>
    <div class="theT"></div>
<!--    {% endif %}-->
<!--    <form method="post">-->
<!--        <div class="assignCareTeam">-->
<!--            {% csrf_token %}-->
<!--            {% for route in form %}-->
<!--            <p> {{route}} </p>-->
<!--            {% endfor %}-->
<!--            {% for k in form2 %}-->
<!--            <p> {{k}} </p>-->
<!--            {% endfor %}-->
<!--            &lt;!&ndash;    should be nested four loops for a combined dictioarny&ndash;&gt;-->
<!--            <div class="button assignCareTeamButton">-->
<!--                <button type="submit" class="btn btn-primary btn-large btn-block">Ok</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</div>
{% endblock content %}