<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Treeo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
	crossorigin="anonymous"></script>

<body>
	<div id="container">
		<div class="theT"></div>
		{% if user.is_authenticated %}
		{% if user.user_type == 1 %}
		<div id="navwrapper">
			<ul>
				<li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
				<li><a class="nav-link" href="{% url 'admin_approve_provider_render' %}">Approve Provider</a></li>
				<li><a class="nav-link" href="{% url 'admin_view' %}">Assign Trio</a></li>
				<li><a class="nav-link" href="{% url 'doctor_registration' %}">Register Provider</a></li>
				<li><a class="nav-link" href="{% url 'reqAppt' %}">Appointments</a></li>
				<li><a class="nav-link" href="{% url 'Health_Coach' %}">Messages</a></li>
				<li><a class="nav-link" href="{% url 'upload_download_file_upload' %}">File Upload</a></li>
				<li><a class="nav-link" href="{% url 'upload_download_file_download' %}">File Download</a></li>
				<!-- <li><a class="nav-link" href="{% url 'profile' %}">account</a></li> -->
				<li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
			</ul>
		</div>
		{% else %}
		<div id="navwrapper">
			<ul>
				<li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
				<li><a class="nav-link" href="{% url 'reqAppt' %}">Appointments</a></li>
				<li><a class="nav-link" href="{% url 'patientlog' %}">Health Log</a></li>
				<li><a class="nav-link" href="{% url 'upload_download_file_upload' %}">File Upload</a></li>
				<li><a class="nav-link" href="{% url 'upload_download_file_download' %}">File Download</a></li>
				<li><a class="nav-link" href="{% url 'Health_Coach' %}">Messages</a></li>
				<li><a class="nav-link" href="{% url 'profile' %}">Account</a></li>
				<li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
			</ul>
		</div>
		{% endif %}
		{% endif %}

		{% if messages%}
		{%for message in messages%}
		<div class="message">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>{{message.tags}}!</strong>
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		{% endfor %}
		{% endif %}
		<!-- Form Error messaging -->
		{% if formerrors %}
		<div class="message">
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				There was a problem with the information you entered. Please correct the following:
				{{ formerrors.non_field_errors }}
				<ul>
					{% for field in formerrors %}
					{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		<!-- End Form Error messaging -->
		<div class="login">
			<div class="login-screen">
				{% load humanize %}
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
<script>
//we see if the user is logged in and of yes we hilight a the navelment the user is on currently on
{% if user.is_authenticated %}
function active_navbar(){
    //we get all the elements from the navbar element that are that li and loop throught them
    //to use break we label each of the nested loops
    loop1:
        for (let i of document.getElementById("navwrapper").getElementsByTagName("li")) {
            loop2:
                for (let j of i.childNodes) {
                    // special case for home as it causes matches for all nav elements
                    if (window.location.origin+'/'!= j.href){
                    if (window.location.href.includes(j.href))
                        {
                            //we set the class so the correct navelment is highlighted
                            j.classList.add('nav_active');
                            break loop1;
                        }
                    //special case for apptArchive
                        else if (j.href.includes('ReqAppt') && window.location.href.includes('apptArchive')){
                            j.classList.add('nav_active');
                            break loop1;
                        }
                    }
                        // here we see if the current page has the base element of one of the nav bar eleSments
                    else if (window.location.origin+'/' == window.location.href && window.location.href == j.href) {
                        j.classList.add('nav_active');
                        //we set the class so the correct navelment is highlighted and break the loop
                        break loop1;
                    }


                }
        }
}
//ok so we are allowing there to be other pages that extend this html to use onload events
//we are making a function here and we get the window.onload thing here
function addLoadEvent(functorunonpageload) {
    var previousonload = window.onload;
    //here we see if the onload has been called
    if (typeof window.onload != 'function') {
        //if on load hasnt been called we set the onload to the function(functorunonpageload) we want to run
        window.onload = functorunonpageload;
       // console.log("cold")
    }
    else {
        //if on load has been called been called already we take the window.onload
        window.onload = function() {
            // and add the previous window.onload funtion contents saved under previousonload
            if (previousonload) {
            	//console.log("hot");
                previousonload();
            }
            //and add the function(functorunonpageload) we want to run
            //console.log("hot2");
            functorunonpageload();

        }
    }
}
addLoadEvent(active_navbar);
{% endif %}
</script>
</body>