{% extends "users_acc/baseNoNavBar.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page requests a confirmation that the admin does want to revoke a provider's privileges.
-->
<div class="white">
  <form method="post" action="">
    {% csrf_token %}
    <h1>Are You Sure You Want To Remove This Provider?</h1><br>
    <div class="button deleteConfirmButtonAppointment">
      <!-- <input class="btn btn-1" type="submit" value="Yes" />
      <a href="{% url 'admin_display_team' patient %}">
        <div class="btn btn-2">Cancel</div>
      </a> -->
      <button class="btn btn-primary btn-large btn-block" type="submit">Yes</button>
      <a href="{% url 'admin_display_team' patient %}" class="btn btn-primary btn-large btn-block">Cancel</a>
    </div>
  </form>
</div>
{% endblock content %}