{% extends "users_acc/base.html" %}
{% block content %}
<!-- 
    Authors: Giorgi Nozadze and George Esho
    This page displays the patient's view of their dietitian's profile page.
-->

<div class="white">
    <div class="account">
        Your Dietitian
    </div>

    <div class="accountProfilePic">
        <img class="rounded-circle account-img " src="{{user.patient.doc_d.user.profile_pic.url}} " alt="">
        <!-- <div class="button editProfileButton">
            <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-large btn-block">Edit Profile</a>
        </div> -->
    </div>

    <div class="patientNameBox">
        <div class="patientName">
            {{user.patient.doc_d.user.first_name}} {{user.patient.doc_d.user.last_name}}
            <!-- {{user.date_joined}} -->
        </div>
    </div>
    <!--    <div class="providerTeamBox">-->
    <!--        {% if user.user_type == 3%}-->
    <!--        <div class="providerTeam">-->
    <!--            provider team-->
    <!--        </div>-->
    <!--        <div class="dietitianBox">-->
    <!--            <div class="dietitianName">-->
    <!--                dietitian: {{user.patient.doc_d.user.first_name}} {{user.patient.doc_d.user.last_name}}-->
    <!--            </div>-->
    <!--            <div class="button viewProviderDetailsButton">-->
    <!--                <a href="#" class="btn btn-primary btn-large btn-block">view provider details</a>-->
    <!--            </div>-->
    <!--            <div class="button requestChangeButton">-->
    <!--                <a href="#" class="btn btn-primary btn-large btn-block">request change</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="physicianBox">-->
    <!--            <div class="physicianName">-->
    <!--                physician: {{user.patient.doc_p.user.first_name}} {{user.patient.doc_p.user.last_name}}-->
    <!--            </div>-->
    <!--            <div class="button viewProviderDetailsButton">-->
    <!--                <a href="#" class="btn btn-primary btn-large btn-block">view provider details</a>-->
    <!--            </div>-->
    <!--            <div class="button requestChangeButton">-->
    <!--                <a href="#" class="btn btn-primary btn-large btn-block">request change</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="coachBox">-->
    <!--            <div class="coachName">-->
    <!--                health coach: {{user.patient.doc_c.user.first_name}} {{user.patient.doc_c.user.last_name}}-->
    <!--            </div>-->
    <!--            <div class="button viewProviderDetailsButton">-->
    <!--                <a href="#" class="btn btn-primary btn-large btn-block">view provider details</a>-->
    <!--            </div>-->
    <!--            <div class="button requestChangeButton">-->
    <!--                <a href="#" class="btn btn-primary btn-large btn-block">request change</a>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        {% endif %}-->
    <!--        <div class="questionBox">-->
    <!--            <div class="button helpButton">-->
    <!--                <a href="#" class="btn btn-primary btn-large btn-block">?</a>-->
    <!--            </div>-->
    <!--            <div class="questionName">-->
    <!--                questions? contact a treeo admin-->
    <!--            </div>-->
    <!--        </div>-->

    <!-- </div> -->

</div>
{% endblock content %}