{% extends "users_acc/base.html" %}
{% block content %}
<!-- 
    Authors: Brandon Breen and George Esho
    This page displays the home page of the specific user type logged in to their account.
-->
<div class="white">

    {% if user.user_type == None%}

    {%else%}
    {% if user.user_type == 1%}
    <!-- The admin view only displays that this is the admin home. -->
    <div class="providerHome">Admin Home</div>
    <!-- <div class="newArrivalsBorder"> 
        <div class="newArrivals">
            New Arrivals
        </div>
        <div class="unassignedProviders">
            This should say "there are x provider(s) unassigned to a patient". Otherwise it should say "no new arrivals"
        </div>
        <div class="assignTrio">
            <div class="button assignTrio">
                <a href="{% url 'admin_view' %}" class="btn btn-primary btn-large btn-block">Assign Trio Teams</a> -->
    <!-- <a href="{% url 'admin_approve_provider_render' %}" class="btn btn-primary btn-large btn-block">Approve Doctor</a>
            <a href="{% url 'doctor_registration' %}" class="btn btn-primary btn-large btn-block">Register Doctor</a> -->
    <!-- </div>
        </div> -->

    <!-- <div class="recentMessagesBorder recentMessagesBorderAdmin">
            <div class="recentMessages">
                <span>Recent Messages</span>
            </div>
            {% if recentMessages %}
            {% for i in recentMessages %} -->
    <!-- doesthis class matter  -->
    <!-- <div class="message2">
                    <p><span>{{i.TheActualsender}}: </span>{{i.Message|truncatechars:20}}</p>
                </div> -->
    <!-- <div class="recentMessagesWrapper">
                <table class="table recentMessagesTable">
                    <tr>
                        <td><span>{{i.TheActualsender}}: </span>{{i.Message|truncatechars:20}}</td>
                    </tr>
                </table>
                {% endfor %}
            </div>
            {% else %}
            <div class="recentMessagesWrapper">
                <table class="table recentMessagesTable">
                    <tr>
                        <td><span>You have no recent messages</span></td>
                    </tr>
                </table>
            </div>
            {% endif %}
        </div> -->

    <!-- <div class="pendingApprovalsBorder">
            <div class="pendingApproval">
                <span>Pending approvals</span> -->
</div>
<!-- should be a message icon next to each message -->
<!-- <div class="unapprovedProviders">
                This should say "there are x provider(s) awaiting approval" Otherwise it should say "no pending
                approvals"
            </div>
            <div class="approveProvider">
                <div class="button approveProvider">
                    <a href="{% url 'admin_approve_provider_render' %}"
                        class="btn btn-primary btn-large btn-block">go</a>
                </div>
            </div>
        </div> 
</div> -->
{% endif %}
{% if user.user_type == 2%}
<!-- 
    The provider view displays the provider's full name, profile picture, and when their account was first created.
-->
<div class="providerHome">Provider Home</div>
<div class="profileBorder">
    <div class="profileName">{{user.get_full_name}}</div>
    <div class="profileDateJoined">Member since {{user.date_joined}}</div>
    <div class="profilePic">
        <img class="rounded-circle account-img " src="{{user.profile_pic.url}} " alt="">
    </div>
</div>

<!-- 
    The provider view displays the provider's upcoming appointments with their patients, displaying their patient's profile
    picture and the date and time of the appointment, as well as a button to book a new appointment.
-->
<div class="upcomingAppointmentsBorder">
    <div class="upcomingAppointments">Upcoming Appointments</div>
    <div class="appointmentsList">
        {% if appointment %}
        {% for i in appointment %}
        <div class="appointmentProfilePic">
            <p>
                <img class="rounded-circle account-img " src="{{ i.patient.user.profile_pic.url }}" width="60"
                    height="60" alt="">
            </p>
        </div>
        <p class="meetingDate">{{ i.meetingDate }}</p>
        {% endfor %}
        {% else %}
        <p>You have no upcoming appointments</p>
        {% endif %}
    </div>
    <div class="bookAppointment">
        <div class="button bookAppointment">
            <a href="{% url 'reqAppt' %}" class="btn btn-primary btn-large btn-block">Book an Appointment</a>
        </div>
    </div>
</div>
<!-- 
    The provider view displays the two most recent messages sent to them.
-->
<div class="recentMessagesBorder">
    <div class="recentMessages">
        <span>Recent Messages</span>
    </div>
    {% if recentMessages %}
    {% for i in recentMessages %}
    <div class="recentMessagesWrapper">
        <table class="table recentMessagesTable">
            <tr>
<!--                <td>From <span>{{i.TheActualsender}}: </span><a-->
<!--                        href="{% url 'messaging_home' %}">{{i.Message|truncatechars:20}}</a></td>-->
            </tr>
        </table>
        {% endfor %}
    </div>
    {% else %}
    <div class="recentMessagesWrapper">
        <table class="table recentMessagesTable">
            <tr>
                <td><span>You have no recent messages</span></td>
            </tr>
        </table>
    </div>
    {% endif %}
</div>

{% endif %}
{% if user.user_type == 3%}
<!-- 
    The patient view displays the patient's full name, profile picture, and when their account was first created.
-->
<div class="welcome">Patient Home</div>
<!-- <div class="healthChart">
        health chart goes here.
        just one that shows data and can be clicked on to lead to whole page
    </div> -->
<div class="profileBorder">
    <div class="profileName">{{user.get_full_name}}</div>
    <div class="profileDateJoined">Member since {{user.date_joined}}</div>
    <div class="profilePic">
        <img class="rounded-circle account-img " src="{{user.profile_pic.url}} " alt="">
    </div>
</div>

<!-- 
    The patient view displays the patient's upcoming appointments with their providers, displaying their provider's profile
    picture and the date and time of the appointment, as well as a button to book a new appointment.
-->
<div class="upcomingAppointmentsBorder">
    <div class="upcomingAppointments">Upcoming Appointments</div>
    <div class="appointmentsList">
        {% if appointment %}
        {% for i in appointment %}
        <div class="appointmentProfilePic">
            <p>
                <img class="rounded-circle account-img " src="{{ i.provider.user.profile_pic.url }}" width="60"
                    height="60" alt="">
            </p>
        </div>
        <!-- use humanize here for time You Have an Appointment at  -->
        <p class="meetingDate">{{ i.meetingDate }}</p>
        {% endfor %}
        {% else %}
        <p>You have no upcoming appointments</p>
        {% endif %}
    </div>

    <div class="bookAppointment">
        <div class="button bookAppointment">
            <a href="{% url 'reqAppt' %}" class="btn btn-primary btn-large btn-block">Book an Appointment</a>
        </div>
    </div>
</div>
<!-- 
    The patient view displays the two most recent messages sent to them.
-->
<div class="recentMessagesBorder">
    <div class="recentMessages">
        <span>Recent Messages</span>
    </div>
    {% if recentMessages %}
    {% for i in recentMessages %}
    <!-- doesthis class matter  -->
    <!-- <div class="message2">
            <p><span>{{i.TheActualsender}}: </span>{{i.Message|truncatechars:20}}</p>
        </div> -->
    <div class="recentMessagesWrapper">
        <table class="table recentMessagesTable">
            <tr>
<!--                <td>From <span>{{i.TheActualsender}}: </span><a-->
<!--                        href="{% url 'messaging_home' %}">{{i.Message|truncatechars:20}}</a></td>-->
            </tr>
        </table>
        {% endfor %}
    </div>
    {% else %}
    <div class="recentMessagesWrapper">
        <table class="table recentMessagesTable">
            <tr>
                <td><span>You have no recent messages</span></td>
            </tr>
        </table>
    </div>
    {% endif %}
</div>
</div>

{% endif %}
{% endif %}
</div>
{% endblock content %}