{% extends "users_acc/baseNoNavBar.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page allows a user to log in to the web app.
    This page defaults as the home page for users not logged in to an account.
-->
<form method="post">
    {% csrf_token %}
    {% load static %}
    <div class="white">
        <div class="rectangle">
            <div class="treeoLogo"></div>
            <div class="twitter">
                <a href="https://twitter.com/treeohealth"><img class="rounded-circle account-img " src="{% static 'img/TwitterLogo.png' %}" width="177px" height="162px" alt="Twitter"></a>
            </div>
            <div class="instagram">
                <a href="https://www.instagram.com/treeohealth/"><img class="rounded-circle account-img " src="{% static 'img/InstagramLogo.png' %}" width="133px" height="125px" alt="Instagram"></a>
            </div>
            <div class="facebook">
                <a href="https://www.facebook.com/treeohealth"><img class="rounded-circle account-img " src="{% static 'img/FacebookLogo.png' %}" width="133px" height="125px" alt="Facebook"></a>
            </div>
            <p class="textOne">We’re here to help you start healing.</p>
        </div>
        <div class="textTwo">
            <span>Log in</span> to access your health portal
            Please enter a username
        </div>

        <div class="username">
            <div class="usernameInput">
                {{form.username}}
            </div>
        </div>

        <div class="textThree">
            Please enter a password
        </div>

        <div class="password">
            <div class="passwordInput">
                {{form.password}}
            </div>
        </div>

        <div class="button loginButton">
            <button type="submit" class="btn btn-primary btn-large btn-block">Login</button>
            <!-- <a href="{% url 'pass_reset' %}" class="btn btn-primary btn-large btn-block">forgot your password?</a> -->
            <!-- <a href="{% url 'register' %}" class="btn btn-primary btn-large btn-block">register</a> -->
        </div>
        <div class="signupLink">
            <p>Don't Have An Account? <a href="{% url 'register' %}"><span>Sign Up</span></a></p>
            <p><a href="{% url 'pass_reset' %}"><span>Forgot Your Password?</span></a></p>
        </div>
    </div>
</form>
<br>

{% endblock content %}