{% extends "users_acc/base.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page allows a user to enter a new password to replace their old password.
    This page will only allow a new password to be entered if "new_password1" and "new_password2" are matching.
-->
<form method = "post">
    {% csrf_token %}
    {% for field in form %}
    <div class="error">
        {{ field.errors }}
    </div>
    {% endfor %}
    <div class="resetPasswordTwo">Reset Password</div>
    <div class="stepThree">Step 3: Set new password</div>
    <div class="newPassword">New Password</div>
    <div class="newPasswordBox">
        <div class="newPasswordInput">
            {{form.new_password1}}
        </div>
    </div>
    <div class="confirmPassword">Confirm Password</div>
    <div class="confirmPasswordBox">
        <div class="confirmPasswordInput">
            {{form.new_password2}}
        </div>
    </div>
    <div class="button passResetButton">
        <button type="submit" class="btn btn-primary btn-large btn-block">Save</button>
    </div>
    
</form>
{% endblock content %}
