{% extends "users_acc/base.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page allows a user to enter their email linked to an account to begin the password reset process.
-->
<form method="post">
    {% csrf_token %}
    <div class="resetPassword">Reset Password</div>
    <div class="stepOne">Step 1: Enter your email</div>
    <div class="emailBoxReset">
        <div class="emailBoxInput">
            {{form.email}}
        </div>
    </div>
    <div class="button passResetButton">
        <button type="submit" class="btn btn-primary btn-large btn-block">Done</button>
    </div>

</form>
{% endblock content %}