{% extends "users_acc/base.html" %}
{% block content %}
<!-- 
    Authors: Giorgi Nozadze, Brandon Breen, and George Esho
    This page displays a user's profile account.
    This page displays a user's profile picture, their name, the option to edit their profile, 
    and, if the user is a patient, their care team with the ability to view their provider's profile.
-->
<div class="white">
    <div class="account">
        Account
    </div>
    <div class="accountProfilePic">
        <img class="rounded-circle account-img " src="{{user.profile_pic.url}} " alt="">
        <div class="button editProfileButton">
            <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-large btn-block">Edit Profile</a>
            <!-- {% if user.user_type != 1%}
            <a href="{% url 'user_deactivate' %}" class="btn btn-primary btn-large btn-block">Deactivate Account</a>
            {% endif %} -->
        </div>
    </div>

    <div class="patientNameBox">
        <div class="patientName">
            {{user.get_full_name}}
        </div>
    </div>
    <div class="providerTeamBox">
        {% if user.user_type == 3%}
        <div class="providerTeam">
            Provider Team
        </div>
        {% if user.patient.doc_d %}
        <div class="dietitianBox">
            <div class="dietitianName">
                Dietitian: {{user.patient.doc_d.user.get_full_name}}
            </div>
            <div class="button viewProviderDetailsButton">
                <a href="{% url 'diet_details' %}" class="btn btn-primary btn-large btn-block">View Provider Details</a>
            </div>
            <!-- 
                This contains the as-of-yet active request change button to request a change in provider.
            -->
            <!-- <div class="button requestChangeButton">
                <a href="#" class="btn btn-primary btn-large btn-block">request change</a>
            </div> -->
        </div>
        {% else %}
        <div class="dietitianBox">
            <div class="dietitianName">
                Dietitian: {{user.patient.doc_d.user.get_full_name}}
            </div>
            <div class="button viewProviderDetailsButton">
                <a href="{% url 'diet_details' %}" class="btn btn-primary btn-large btn-block disabled">View Provider
                    Details</a>
            </div>
            <!-- 
                This contains the as-of-yet active request change button to request a change in provider.
            -->
            <!-- <div class="button requestChangeButton">
                <a href="#" class="btn btn-primary btn-large btn-block disabled">request change</a>
            </div> -->
        </div>
        {% endif %}
        {% if user.patient.doc_p %}
        <div class="physicianBox">
            <div class="physicianName">
                Physician: {{user.patient.doc_p.user.get_full_name}}
            </div>
            <div class="button viewProviderDetailsButton">
                <a href="{% url 'doctor_details' %}" class="btn btn-primary btn-large btn-block">View Provider
                    Details</a>
            </div>
            <!-- 
                This contains the as-of-yet active request change button to request a change in provider.
            -->
            <!-- <div class="button requestChangeButton">
                <a href="#" class="btn btn-primary btn-large btn-block">request change</a>
            </div> -->
        </div>
        {% else %}
        <div class="physicianBox">
            <div class="physicianName">
                Physician: {{user.patient.doc_p.user.get_full_name}}
            </div>
            <div class="button viewProviderDetailsButton">
                <a href="{% url 'doctor_details' %}" class="btn btn-primary btn-large btn-block disabled">View Provider
                    Details</a>
            </div>
            <!-- 
                This contains the as-of-yet active request change button to request a change in provider.
            -->
            <!-- <div class="button requestChangeButton">
                <a href="#" class="btn btn-primary btn-large btn-block disabled">request change</a>
            </div> -->
        </div>
        {% endif %}
        {% if user.patient.doc_c %}
        <div class="coachBox">
            <div class="coachName">
                Health Coach: {{user.patient.doc_c.user.get_full_name}}
            </div>
            <div class="button viewProviderDetailsButton">
                <a href="{% url 'coach_details' %}" class="btn btn-primary btn-large btn-block">View Provider
                    Details</a>
            </div>
            <!-- 
                This contains the as-of-yet active request change button to request a change in provider.
            -->
            <!-- <div class="button requestChangeButton">
                <a href="#" class="btn btn-primary btn-large btn-block">request change</a>
            </div> -->
        </div>
        {% else %}
        <div class="coachBox">
            <div class="coachName">
                Health Coach: {{user.patient.doc_c.user.get_full_name}}
            </div>
            <div class="button viewProviderDetailsButton">
                <a href="{% url 'coach_details' %}" class="btn btn-primary btn-large btn-block disabled">View Provider
                    Details</a>
            </div>
            <!-- 
                This contains the as-of-yet active request change button to request a change in provider.
            -->
            <!-- <div class="button requestChangeButton">
                <a href="#" class="btn btn-primary btn-large btn-block disabled">request change</a>
            </div> -->
        </div>
        {% endif %}
        {% endif %}
        <!-- 
            This contains the as-of-yet active help box that leads a user to the Messages page to contact a Treeo admin.
        -->
        <!-- <div class="questionBox">
            <div class="button helpButton">
                <a href="#" class="btn btn-primary btn-large btn-block">?</a>
            </div>
            <div class="questionName">
                questions? contact a treeo admin
            </div>
        </div> -->

    </div>
</div>
{% endblock content %}