{% extends "users_acc/base.html" %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
	<div>
		<div class="survey">

			<div class="survey_progress_bar">
				<div>
					<label id="pbarlabel" for="pbar">Survey Progress: 0%</label>
					<progress id="pbar" value="0" max="100"> </progress>
				</div>
			</div>
			<div class="survey_body">
				<div class="survey_container">
					<div class="survey_page">
						<div class="survey_question_body">
							<div class="survey_question btn-group" data-toggle="buttons">
								<p> Which best describes the health concern you created a Treeo account for?</p>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio01" name="radio1" value="1" />
								<label class="btn btn-warning" for="radio01"><span></span>
									digestive issues
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio02" name="radio1" value="2" />
								<label class="btn btn-warning" for="radio02"><span></span>
									skin issues
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio03" name="radio1" value="3" />
								<label class="btn btn-warning" for="radio03"><span></span>
									hormone imbalance
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio04" name="radio1" value="4" />
								<label class="btn btn-warning" for="radio04"><span></span>
									other chronic condition
								</label>
							</div>
						</div>
					</div>
					<div class="survey_page">
						<div class="survey_question_body">
							<div class="survey_question btn-group">
								<p>What age group do you fall under?</p>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio05" name="radio2" value="1" />
								<label class="btn btn-warning" for="radio05"><span></span>
									35-45
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio06" name="radio2" value="2" />
								<label class="btn btn-warning" for="radio06"><span></span>
									45-55
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio07" name="radio2" value="3" />
								<label class="btn btn-warning" for="radio07"><span></span>
									55-65
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio08" name="radio2" value="4" />
								<label class="btn btn-warning" for="radio08"><span></span>
									65+
								</label>
							</div>
						</div>
					</div>
					<div class="survey_page">
						<div class="survey_question_body">
							<div class="survey_question btn-group">
								<p>>Are you currently on any medications?</p>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio09" name="radio3" value="1" />
								<label class="btn btn-warning" for="radio09"><span></span>
									yes
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio10" name="radio3" value="2" />
								<label class="btn btn-warning" for="radio10"><span></span>
									no
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio11" name="radio3" value="3" />
								<label class="btn btn-warning" for="radio11"><span></span>
									choose not to answer
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio12" name="radio3" value="4" />
								<label class="btn btn-warning" for="radio12"><span></span>
									not applicable
								</label>
							</div>
						</div>
					</div>
					<div class="survey_page">
						<div class="survey_question_body">
							<div class="survey_question btn-group">
								<p>How advanced are you with using technology?</p>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio13" name="radio4" value="1" />
								<label class="btn btn-warning" for="radio13"><span></span>
									not at all
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio14" name="radio4" value="2" />
								<label class="btn btn-warning" for="radio14"><span></span>
									some experience
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio15" name="radio4" value="3" />
								<label class="btn btn-warning" for="radio15"><span></span>
									well versed
								</label>
							</div>
							<div class="survey_answer">
								<input type="radio" id="radio16" name="radio4" value="4" />
								<label class="btn btn-warning" for="radio16"><span></span>
									completely proficient
								</label>
							</div>
						</div>
					</div>
					<div class="survey_page">
						<div class="survey_question_body">
							<div class="survey_question btn-group">
								<p>Look at Your Answers </p>
							</div>
							<div class="survey_answer">
								<b>Which best describes the health concern you created a Treeo account for?</b>
								<p></p>
							</div>
							<div class="survey_answer">
								<b>What age group do you fall under?</b>
								<p></p>
							</div>
							<div class="survey_answer">
								<b>Are you currently on any medications?</b>
								<p></p>
							</div>
							<div class="survey_answer">
								<b>How advanced are you with using technology?</b>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<!--					you can make this a hidden django form so we can use validation-->
				<form method="post" id="form">
					{% csrf_token %}
					<input type="hidden" id="txtinput" name="txtinput" value="">
				</form>
				<div class="mm-survey-controller">
					<div class="mm-prev-btn">
						<button disabled="true" onclick="prevpage()" id="prev" class="btn btn-light">Prev</button>
					</div>
					<div class="mm-next-btn">
						<button disabled="true" onclick="nextpage()" id="next" class="btn btn-light">Next</button>
					</div>
					<div class="mm-finish-btn">
						<button onclick="submit()" id="submit" class="btn btn-light">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.survey_active {
		background-color: #000;
	}
</style>

<script>
	//current page and pagecount
	var page_on = 0
	var pages = document.getElementsByClassName('survey_page');
	// sets the prev button and renders the first page
	document.getElementById("prev").disabled = true
	renderpage(page_on)

	//here we make it so when the radio buttons are clicked the next button is no longer disabled
	var all_inputs = document.getElementsByTagName('input');
	for (let k of all_inputs) {
		if (k.type.toLowerCase() == 'radio') {
			k.addEventListener("click", function () {
				document.getElementById("next").disabled = false;
				element = document.querySelector('label[htmlFor='+k.id+']');
				console.log(element)	
			});
		}
	}
	//here we update the progress bar based on a page num as argument
	function updateprogress(var1) {
		var progbar = document.getElementById('pbar');
		//we are not counting the results page hence length-1
		var precent = (var1 / (pages.length - 1)) * 100;
		//console.log(precent)
		// error handling for unexpected percents
		if (precent > 100) {
			precent = 100;
		}
		else if (precent < 0) {
			precent = 0;
		}
		progbar.value = precent;
		//update the precent bar
		document.getElementById('pbarlabel').innerHTML = "Survey Progress: " + String(precent) + "%"
	}

	function isOneChecked(var1) {

		var chx = pages[var1].getElementsByTagName('input');
		for (var i = 0; i < chx.length; i++) {
			// If you have more than one radio group, also check the name attribute
			// for the one you want as in && chx[i].name == 'choose'
			// Return true from the function on first match of a checked item
			if (chx[i].type == 'radio' && chx[i].checked) {
				return true;
			}
		}
		// End of the loop, return false
		return false;
	}

	function allareChecked(radioname) {
		var flag = true
		for (var i = 0; i < (pages.length - 1); i++) {
			if (isOneChecked(i)) {

			}
			else {
				flag = false;
			}
		}
		// End of the loop, return false
		return flag;
	}

	function prevpage() {
		page_on--
		document.getElementById("next").disabled = false
		if (page_on == 0) {
			document.getElementById("prev").disabled = true
			renderpage(page_on)
		}
		else {
			renderpage(page_on)
		}
	}

	function nextpage() {
		document.getElementById("prev").disabled = false
		if (isOneChecked(page_on)) {
			page_on++
			document.getElementById("next").disabled = true
			renderpage(page_on)
		}
	}

	function renderpage(var1) {
		if (page_on == pages.length - 1) {
			//hide next and display submit if on last page and display all the answers
			document.getElementById("next").style.display = 'none';
			document.getElementById("submit").style.display = "";
			pages[page_on].style.display = "";
			//display answers code
			var test = pages[page_on].getElementsByClassName("survey_answer");
			var chx = all_inputs;
			var labels = document.getElementsByTagName('LABEL');
			for (let p of labels) {
				if (p.htmlFor != '') {
					var elem = document.getElementById(p.htmlFor);
					if (elem && p.id != "pbarlabel") {
						//console.log(p.innerHTML)
						elem.label = p.innerHTML;
					}
				}
			}
			for (var i = 0; i < pages.length - 1; i++) {
				chx = pages[i].getElementsByTagName('input');
				//console.log(chx)
				for (var j = 0; j < chx.length; j++) {
					// If you have more than one radio group, also check the name attribute
					// for the one you want as in && chx[i].name == 'choose'
					// Return true from the function on first match of a checked item
					if (chx[j].type == 'radio' && chx[j].checked) {
						test[i].getElementsByTagName("p")[0].innerHTML = chx[j].label;
					}
				}
			}
		}
		else if (page_on < 0) {
			page_on = 0;
		}
		else {
			document.getElementById("next").style.display = '';
			document.getElementById("submit").style.display = "none";
		}
		for (var i = 0; i < pages.length; i++) {
			if (i == var1) {
				pages[i].style.display = "";
				if (isOneChecked(page_on)) {
					document.getElementById("next").disabled = false
				}
			} else {
				pages[i].style.display = 'none';
			}
		}
		updateprogress(page_on)
	}

	function submit() {
		var str = '';
		var chx = all_inputs
		if (allareChecked()) {
			console.log("allachecked")
			for (var i = 0; i < chx.length; i++) {
				// If you have more than one radio group, also check the name attribute
				// for the one you want as in && chx[i].name == 'choose'
				// Return true from the function on first match of a checked item
				if (chx[i].type == 'radio' && chx[i].checked) {
					str += chx[i].value;
					str += ',';
				}
			}
			document.getElementById("txtinput").value = str;
			document.getElementById("form").submit();
		}
	}

</script>

{% endblock content %}