{% extends "users_acc/base.html" %}
{% block content %}
<div class="white">
  <div class="first">
    <div class="appointments">appointments</div>
    <div class="theT"></div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="search for provider">
    <div class="appointmentTable">
      <table id="myTable" class="table">
        <thead>
          <tr>
            <th>date/time</th>
            <th></th>
            <th>provider</th>
            <th></th>
            <th>patient</th>
          </tr>
        </thead>
        {% for a in ApptTable %}
        <tr>
          <td class="appointmentBubbleDateTime">{{a.meetingDate}}</td>
          <td class="with">with</td>
          <td class="appointmentBubbleProvider"> {{a.provider.user.first_name|lower}}
            {{a.provider.user.last_name|lower}}</td>
          <td class="with">with</td>
          <td class="appointmentBubbleStatus">{{a.patient.user.first_name|lower}} {{a.patient.user.last_name|lower}}
          </td>
          <!-- {%if a.status%}
          <td class="appointmentBubbleStatus"> <span class="Confirmed">confirmed</span></td>
          {% else %}
          <td class="appointmentBubbleStatus"> <span class="Pending">pending</span></td>
          {% endif %} -->
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="theT">

    </div>
  </div>
</div>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
{% endblock content %}