{% extends "users_acc/base.html" %}
{% block content %}
<!-- <div class="whiteAppointments"> -->
<div class="white">
  <div class="first">
    <div class="appointments">appointments</div>
    <div class="appointmentViews">
      <div class="button appointmentViews">
        <a class="btn btn-primary btn-large btn-block" href="{% url 'reqAppt_calendar' %}">calendar view</a>
        <a class="btn btn-primary btn-large btn-block" href="{% url 'reqAppt' %}">list view</a>
      </div>
    </div>
    <div class="upcoming">
      <p>upcoming</p>
      <div class="bookNewAppointment">
        <div class="button bookNewAppointment">
          <a class="btn btn-primary btn-large btn-block" href="{% url 'create_Appointment' %}">book new appointment</a>
        </div>
      </div>
    </div>

    <div class="appointmentTable">
      <table class="table">
        <thead>
          <tr>
            <th>date/time</th>
            <th></th>
            <th>provider</th>
            <th></th>
            <th>appointment status</th>
          </tr>
        </thead>
        {% for a in ApptTable %}
        <tr>
          <td class="appointmentBubbleDateTime">{{a.meetingDate}}</td>
          <td class="with">with</td>
          <td class="appointmentBubbleProvider"> {{a.provider.user.first_name|lower}}
            {{a.provider.user.last_name|lower}}</td>
          <td class="with">at</td>
          {%if a.status%}
          <td class="appointmentBubbleStatus"> <span class="Confirmed">confirmed</span></td>
          {% else %}
          <td class="appointmentBubbleStatus"> <span class="Pending">pending</span></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="theT">

    </div>
    <!-- <table class="table">
      <thead>
        <tr>
          <th>Date and Time</th>
          <th>Doctor Name</th>
          <th>Status</th>
        </tr>
      </thead> 

    <div class="appointmentBox">
      <div class="appointmentTableHeaders">
        <div class="datetime">date/time</div>
        <div class="provider">provider</div>
        <div class="status">appointment status</div>
      </div>

      <div class="appointmentTable">
        {% for a in ApptTable %}
        <div class="appointmentContainer">
          <div class="appointmentBubbleDateTime">
            {{a.meetingDate}}
          </div>
          <div class="with">
            with
          </div>
          <div class="appointmentBubbleProvider">
            {{a.provider.user.first_name}} {{a.provider.user.last_name}}
          </div>
          <div class="appointmentBubbleStatus">
            {%if a.status%}
            Confirmed
            {% else %}
            Pending
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>


      {% for a in ApptTable %}
      <tr>
        <td>{{a.meetingDate}}</td>
        <td> {{a.provider.user.first_name}} {{a.provider.user.last_name}}</td>
        {%if a.status%}
        <td> <span class="Confirmed">Confirmed</span></td>
        {% else %}
        <td> <span class="Pending">Pending</span></td>
        {% endif %}
      </tr>
      {% endfor %}
      </table> -->
  </div>
</div>
<script>
  var toAdd = document.createDocumentFragment();
  for (var i = 0; i < 11; i++) {
    var newDiv = document.createElement('div');
    newDiv.id = 'r' + i;
    newDiv.className = 'ansbox';
    toAdd.appendChild(newDiv);
  }
  document.getElementById('sel').appendChild(toAdd)
</script>
{% endblock content %}