{% extends "users_acc/base.html" %}
{% block content %}
<!-- <div class="whiteAppointments"> -->
<div class="white">
  <div class="first">
    <div class="appointments">appointments</div>
    <div class="appointmentViews">
      <div class="button appointmentViews">
        <a class="btn btn-primary btn-large btn-block" href="{% url 'reqAppt_calendar' %}">calendar view</a>
        <a class="btn btn-primary btn-large btn-block" href="{% url 'reqAppt' %}">list view</a>
      </div>
    </div>
    <div class="upcoming">
      <p>upcoming</p>
      <div class="bookNewAppointment">
        <div class="button bookNewAppointment">
          <a class="btn btn-primary btn-large btn-block" href="{% url 'create_Appointment' %}">book new appointment</a>
        </div>
      </div>
    </div>
    <div class="viewApptArchive">
        <div class="button viewApptArchive">
          <a class="btn btn-primary btn-large btn-block" href="{% url 'apptArchive' %}">View Archived Appointments</a>
        </div>
      </div>

    <input type="text" id="myInputPatient" onkeyup="myFunction()" placeholder="search for provider">
    <div class="appointmentTable">
      <table id="myTable" class="table approve">
        <thead>
          <tr>
            <th onclick="sortTable(0)">date/time</th>
            <th></th>
            <th onclick="sortTable(2)">provider</th>
            <th></th>
            <th onclick="sortTable(4)">appointment name/link</th>
          </tr>
        </thead>
        {% for a in ApptTable %}
        <tr>
          <td class="appointmentBubbleDateTime">{{a.meetingDate}}</td>
          <td class="with">with</td>
          <td class="appointmentBubbleProvider"> {{a.provider.user.first_name|lower}}
            {{a.provider.user.last_name|lower}}</td>
          <td class="with">at</td>
          {%if a.status%}
          <td class="appointmentBubbleStatus"><a href={{a.meeturlpatient}} target="_blank">zoom link</a></td>
          {% else %}
          <td class="appointmentBubbleStatus"><span class="Pending">pending</span></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="theT">

    </div>
  </div>
</div>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInputPatient");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>
{% endblock content %}