{% extends "ReqAppt/apt_base.html" %}
{% block content %}
<div class="container">
  <div class="first">
    <div class="heading">
      <h2 >Patient View Appointments</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Date and Time</th>
          <th>Status</th>
        </tr>
      </thead>


      {% for a in ApptTable %}
      <tr>
        <td> {{a.provider.user.first_name}} {{a.provider.user.last_name}}</td>
        <td>{{a.meetingDate}}</td>
        {%if a.status%}
        <td> <span class="Confirmed">Confirmed</span></td>
        {% else %}
        <td> <span class="Pending">Pending</span></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
