{% extends "users_acc/baseNoNavBar.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page appears after a patient requests an appointment.
-->
<div class="verification">
    appointment sent.
</div>
<div class="checkmark"></div>
<div class="almostDone">
    <span>You will be notified by email if your appointment is approved promptly.</span>
</div>

<div class="button portalButton">
    <a href="{% url 'reqAppt' %}" class="btn btn-primary btn-large btn-block">Return to Appointment</a>
</div>
{% endblock content %}