{% extends "users_acc/base.html" %}
{% block content %}
{% load static %}
<!-- DO NOT FORMAT DOCUMENT USING CTRL + ALT + L, IT WILL BREAK THE JS -->
<!-- DO NOT FORMAT DOCUMENT USING CTRL + ALT + L, IT WILL BREAK THE JS -->
<!-- DO NOT FORMAT DOCUMENT USING CTRL + ALT + L, IT WILL BREAK THE JS -->

<div id=testing>
    <button id="3"class="chartButton active type="button">Calories</button>
    <button id="4" class="chartButton" type="button">Water</button>
    <button id="5" class="chartButton" type="button">Sleep</button>
    <button id="6" class="chartButton" type="button">Mood</button>
</div>
<div id="myDIV">
    <div>
        <button id="0" class="chartButton active" type="button">Weekly</button>
        <button id="1" class="chartButton" type="button">Monthly</button>
        <button id="2" class="chartButton" type="button">Yearly</button>
    </div>
</div>
<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var header2 = document.getElementById("testing");
    var btns = header.getElementsByClassName("chartButton");
    var btns2 = header2.getElementsByClassName("chartButton");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = header.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
      });
    }
    for (var i = 0; i < btns2.length; i++) {
        btns2[i].addEventListener("click", function() {
        var current2 = header2.getElementsByClassName("active");
        current2[0].className = current2[0].className.replace(" active", "");
        this.className += " active";
        });
      }
</script>
<b id="timeframe"></b>
<div id="container" style="width: 75%; margin: 0 auto;">
<canvas id="Chart"></canvas>
</div>


<!-- Add jQuery lib here -->
<!--1,point color also?,point color,4,5 look up a reference guide or one of the examples https://www.chartjs.org/samples/latest/ idk-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var daterange = "Weekly"
    var chartype = "Calories"
    document.getElementById('timeframe').innerHTML ="{{Weekly.timeframe|safe}}"
    const ctx = document.getElementById('Chart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ Weekly.labels|safe }},
            datasets: [{
          data: {{ Weekly.Calories|safe }},
          backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},
          ],

        },
        options: {responsive: true}
    });


    function myFunction(p1, p2) {
        if (p1 == "Weekly")
        {
        if (p2 == "Calories")
        {
         var test ={
            labels: {{ Weekly.labels|safe }},
            datasets: [{
          data: {{ Weekly.Calories|safe }},
          backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},
          ],
        }
        return test
        }
        else if (p2 == "Water"){
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Water|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Water',fill: false},],}
        return test
        }
        else if (p2 == "Sleep"){
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Sleep|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Sleep',fill: false},],}
        return test
        }
        else if (p2 == "Mood"){
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Mood|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Mood',fill: false},],}
        return test
        }
        else {
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Calories|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},],}
        return test
        }
        }
        else if (p1 == "Monthly")
        {
        if (p2 == "Calories")
        {
         var test = {labels: {{ Monthly.labels|safe }}, datasets: [{data: {{ Monthly.Calories|safe|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},],}
        return test
        }
        else if (p2 == "Water"){
         var test = {labels: {{ Monthly.labels|safe }}, datasets: [{data: {{ Monthly.Water|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Water',fill: false},],}
        return test
        }
        else if (p2 == "Sleep"){
         var test = {labels: {{ Monthly.labels|safe }}, datasets: [{data: {{ Monthly.Sleep|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Sleep',fill: false},],}
        return test
        }
        else if (p2 == "Mood"){
         var test = {labels: {{ Monthly.labels|safe }}, datasets: [{data: {{ Monthly.Mood|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Mood',fill: false},],}
        return test
        }
        else {
         var test = {labels: {{ Monthly.labels|safe }}, datasets: [{data: {{ Monthly.Calories|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},],}
        return test
        }
        }
        else if (p1 == "Yearly")
        {
        if (p2 == "Calories")
        {
         var test = {labels: {{ Yearly.labels|safe }}, datasets: [{data: {{ Yearly.Calories|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},],}
        return test
        }
        else if (p2 == "Water"){
         var test = {labels: {{ Yearly.labels|safe }}, datasets: [{data: {{ Yearly.Water|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Water',fill: false},],}
        return test
        }
        else if (p2 == "Sleep"){
         var test = {labels: {{ Yearly.labels|safe }}, datasets: [{data: {{ Yearly.Sleep|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Sleep',fill: false},],}
        return test
        }
        else if (p2 == "Mood"){
         var test = {labels: {{ Yearly.labels|safe }}, datasets: [{data: {{ Yearly.Mood|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Mood',fill: false},],}
        return test
        }
        else {
         var test = {labels: {{ Yearly.labels|safe }}, datasets: [{data: {{ Yearly.Calories|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},],}
        return test
        }
        }
        else {
        if (p2 == "Calories")
        {
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Calories|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},],}
        return test
        }
        else if (p2 == "Water"){
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Water|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Water',fill: false},],}
        return test
        }
        else if (p2 == "Sleep"){
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Sleep|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Sleep',fill: false},],}
        return test
        }
        else if (p2 == "Mood"){
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Mood|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Mood',fill: false},],}
        return test
        }
        else {
         var test = {labels: {{ Weekly.labels|safe }}, datasets: [{data: {{ Weekly.Calories|safe }},backgroundColor: ['#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'],label: 'Calories',fill: false},],}
        return test
        }
        }
}
    document.getElementById("0").addEventListener('click', () => {
    daterange = "Weekly"
    chart.config.data = myFunction(daterange,chartype)
        document.getElementById('timeframe').innerHTML = "{{Weekly.timeframe|safe}}"
    chart.update();
    });
    document.getElementById("1").addEventListener('click', () => {
    daterange = "Monthly"
    chart.config.data = myFunction(daterange,chartype)
    document.getElementById('timeframe').innerHTML = "{{Monthly.timeframe|safe}}"
    chart.update();
    });
    document.getElementById("2").addEventListener('click', () => {
    daterange = "Yearly"
    chart.config.data = myFunction(daterange,chartype)
    document.getElementById('timeframe').innerHTML = "{{Yearly.timeframe|safe}}"
    chart.update();
    });
    document.getElementById("3").addEventListener('click', () => {
        chartype = "Calories"
    chart.config.data = myFunction(daterange,chartype)
    chart.update();
    });
        document.getElementById("4").addEventListener('click', () => {
        chartype = "Water"
    chart.config.data = myFunction(daterange,chartype)
    chart.update();
    });
        document.getElementById("5").addEventListener('click', () => {
        chartype = "Sleep"
    chart.config.data = myFunction(daterange,chartype)
    chart.update();
    });
        document.getElementById("6").addEventListener('click', () => {
        chartype = "Mood"
    chart.config.data = myFunction(daterange,chartype)
    chart.update();
    });
    window.onload = function() {
};
  </script>

{% endblock content %}