{% extends "patient_log/patient_log_base.html" %}
{% block content %}
<div class="orange">
	<h1>Edit Your Daily Health Wellness Log</h1>
	{% if messages %}
	{% for message in messages %}
	<h2 style="color:green;">{{message}}</h2>
	{% endfor %}
	{% endif %}

	<div class="patientLog">
		<form method="POST">
			{% csrf_token %}
			<!-- {{ form.as_p }} -->
			<p>
				<b> {{edit_log.calories.label_tag}} </b>
				{{edit_log.calories}}
			</p>

			<p>
				<b> {{edit_log.water.label_tag}} </b>
				{{edit_log.water}}
			</p>

			<p>
				<b> {{edit_log.sleep.label_tag}} </b>
				{{edit_log.sleep}}
			</p>

			<p>
				<b> {{edit_log.mood.label_tag}} </b>
				{{edit_log.mood}}
			</p>

			<div class="button patientLogButton">
				<button type="submit" class="btn btn-primary btn-large btn-block">Edit Log</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}