{% extends "users_acc/base.html" %}
{% block content %}
<!-- 
	Authors: Nicole Racovites, Bradon Breen, and George Esho
	This page allows a patient to edit any value of their daily health log within that day after initial submission.
	This page displays 4 inputs for each of the fields: calories, water, sleep, and mood. 
	This page allows a patient to submit their changes, reflect their changes in the database, and allows the patient to go the chart_View page.
-->
<div class="white">
    <div class="healthLog">Edit Health Log</div>
	{% if messages %}
	{% for message in messages %}
	<h2 style="color:green;">{{message}}</h2>
	{% endfor %}
	{% endif %}

	<div class="patientLog">
		<form method="POST">
			{% csrf_token %}
			<div class="caloriesBorder">
                <div class="calories">
                    <span>Calorie Intake</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="calorieIntake">
                    <span>Total kCal</span>
                    <div class="calorieIntakeInput">
						{{edit_log.calories}}
                    </div>
                </div>
            </div>

			<div class="waterBorder">
                <div class="water">
                    <span>Water Intake</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="waterIntake">
                    <span>Total oz</span>
                    <div class="waterIntakeInput">
						{{edit_log.water}}
                    </div>
                </div>
            </div>

			<div class="sleepBorder">
                <div class="sleep">
                    <span>Hours Slept</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="sleepIntake">
                    <span>Total Hours</span>
                    <div class="sleepIntakeInput">
						{{edit_log.sleep}}
                    </div>
                </div>
            </div>

            <div class="moodBorder">
                <div class="mood">
                    <span>Current Mood</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="moodIntake">
                    Scale of 1 to 5 <span>(1 is the lowest, 5 is the highest)</span>
                    <div class="moodIntakeInput">
						{{edit_log.mood}}
                    </div>
                </div>
            </div>
			<div class="button patientLogButton">
				<button type="submit" class="btn btn-primary btn-large btn-block">Submit</button>
				<a class="btn btn-primary btn-large btn-block" href="{% url 'log-chart' user.patient.id %}">See Chart</a>

			</div>
		</form>
	</div>
</div>
{% endblock content %}