{% extends "users_acc/baseNoNavBar.html" %}
{% block content %}
<!-- 
    Author: George Esho
    This page informs a patient that their daily health log has been submitted, and they may edit their log or view their chart.
-->
<div class="verification">
    Log submitted.
</div>
<div class="checkmark"></div>
<div class="almostDone">
    <span>You may edit your log or view your chart.</span>
</div>

<div class="button fileUploadCompleteButton">
    <a href="{% url 'patientlog' %}" class="btn btn-primary btn-large btn-block">Edit Log</a>
    <a href="{% url 'log-chart' request.user.patient.id%}" class="btn btn-primary btn-large btn-block">
        View Chart</a>
</div>
{% endblock content %}