{% extends "users_acc/base.html" %}
{% block content %}
<div class="white">
    {% if user.user_type == 3 %}
    <div class="healthLog">Daily Health Log</div>

    <div class="patientLog">
        <form method="POST">
            {% csrf_token %}
            <div class="caloriesBorder">
                <div class="calories">
                    <span>Calorie Intake</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="calorieIntake">
                    <span>Total kCal</span>
                    <div class="calorieIntakeInput">
                        {{form.calories}}
                    </div>
                </div>
            </div>

            <div class="waterBorder">
                <div class="water">
                    <span>Water Intake</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="waterIntake">
                    <span>Total oz</span>
                    <div class="waterIntakeInput">
                        {{form.water}}
                    </div>
                </div>
            </div>

            <div class="sleepBorder">
                <div class="sleep">
                    <span>Hours Slept</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="sleepIntake">
                    <span>Total Hours</span>
                    <div class="sleepIntakeInput">
                        {{form.sleep}}
                    </div>
                </div>
            </div>

            <div class="moodBorder">
                <div class="mood">
                    <span>Current Mood</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="moodIntake">
                    Scale of 1 to 5 <span>(1 is the lowest, 5 is the highest)</span>
                    <div class="moodIntakeInput">
                        {{form.mood}}
                    </div>
                </div>
            </div>

            <div class="button patientLogButton">
                <button type="submit" class="btn btn-primary btn-large btn-block">Submit</button>
                <a class="btn btn-primary btn-large btn-block" href="{% url 'log-chart' user.patient.id %}">See Chart</a>
            </div>
        </form>
    </div>


    {% else %}
    <div class="healthLog">Review a Patient's Health Log</div>
            <input type="text" id="myInputPatient" onkeyup="myFunction()" placeholder="search for patient">
        <div class="healthLogTable">
            <table id="myTable" class="table approve">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Patient</th>
                        <th></th>
                        <th onclick="sortTabledates(1)">Date/Time</th>
                        <th></th>
                        <th>Logs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in patients %}
                    <tr>
                        <td> {{a.patient.user.get_full_name}}</td>
                        <td></td>
                        <td id="{{a.date.isoformat}}">{{a.date}}</td>
                        <td></td>
                        <td><a href="{% url 'log-chart' a.patient.user.id %}"><span> View Log</span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
<script>
    function hide() {
        var confirm = document.querySelectorAll('.confirm');
        confirm[0].classList.add('hidden');
        confirm[1].classList.add('hidden');
    }

    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputPatient");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        // The use of 'includes' alllows for partial matches, though this will result in a abundance of records in larger tables and with records
        // that are similarly named, for example: 'file1', 'file2', etc., though using it on names is relatively unlikely to be a problem until
        // the db is of significant size.
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().includes(filter) == true) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    function sortTabledates(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x2 = rows[i].getElementsByTagName("TD")[n];
                y2 = rows[i + 1].getElementsByTagName("TD")[n];
                x=new Date(x2.id)
                y=new Date(y2.id)
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x > y) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x < y) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
    {% endif %}
</div>
{% endblock content %}