{% extends "users_acc/base.html" %}
{% block content %}
<div class="white">
    
    <div class="healthLog">Daily Health Log</div>
    {% if messages %}
    {% for message in messages %}
    <h2 style="color:green;">{{message}}</h2>
    {% endfor %}
    {% endif %}

    {% if user.user_type == 3 %}
    <div class="patientLog">
        <form method="POST">
            {% csrf_token %}
            <div class="caloriesBorder">
                <div class="calories">
                    <span>Calorie Intake</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="calorieIntake">
                    <span>Total kCal</span>
                    <div class="calorieIntakeInput">
                        {{form.calories}}
                    </div>
                </div>
            </div>

            <div class="waterBorder">
                <div class="water">
                    <span>Water Intake</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="waterIntake">
                    <span>Total oz</span>
                    <div class="waterIntakeInput">
                        {{form.water}}
                    </div>
                </div>
            </div>

            <div class="sleepBorder">
                <div class="sleep">
                    <span>Hours Slept</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="sleepIntake">
                    <span>Total Hours</span>
                    <div class="sleepIntakeInput">
                        {{form.sleep}}
                    </div>
                </div>
            </div>

            <div class="moodBorder">
                <div class="mood">
                    <span>Current Mood</span>
                </div>
                <!-- should be a message icon next to each message -->
                <div class="moodIntake">
                    Scale of 1 to 5 <span>(1 is the lowest, 5 is the highest)</span>
                    <div class="moodIntakeInput">
                        {{form.mood}}
                    </div>
                </div>
            </div>

            <div class="button patientLogButton">
                <button type="submit" class="btn btn-primary btn-large btn-block">Submit</button>
                <a class="btn btn-primary btn-large btn-block" href="{% url 'log-chart' user.patient.id %}">See Chart</a>
            </div>
        </form>
    </div>


    {% else %}
    <form method="POST">
        <div class="providerViewLog">
        {% csrf_token %}
        {{ form.patient }}
        <div class="button submitLogButton">
            <button type="submit" class="btn btn-primary btn-large btn-block">Submit</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock content %}