{% extends "ReqAppt/apt_base.html" %}
{% block content %}
<head>
<div class="container">
  <div class="first">
    <div class="heading">
      <h6 class="title">Admin View of Appointments</h6>
    </div>
    <table class="table table" id="-table">
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Patient Name</th>
          <th>Date and Time</th>
            <th>Status</th>
        </tr>
      </thead>
      {% for a in ApptTable %}
      <tr>
        <td> {{a.provider.firstname}} {{a.provider.lastname}}</td>
        <td>{{a.patientFname}} {{a.patientLname}}</td>
        <td>{{a.meetingDate}}</td>
        {%if a.status%}
        <td> <span class="Confirmed">Confirmed</span></td>
        {% else %}
        <td> <span class="Pending">Pending</span></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


</body>

</head>
{% endblock content %}


