{% extends "users_acc/base.html" %}
{% block content %}
{% load i18n %}
{% load static %}
<div class="profileName">Select a Divice</div>
<div>
  {% if authenticator %}
  <a href= "{% url 'tfa_login_authenicator' %}"  class="btn btn-primary btn-large btn-block">Authenticaor</a>
  {%endif%}
  {% if phone %}
  <a href="{% url 'tfa_login_phone' %}" class="btn btn-primary btn-large btn-block">Phone</a>
  {%endif%}
  {% if backup %}
  <a href="{% url 'tfa_login_static' %}" class="btn btn-primary btn-large btn-block">Backup Code</a>
  {%endif%}
</div>
{% endblock %}