{% extends "file_base.html" %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <td>User</td>
            <td>File Name</td>
            <td>Date Created</td>
            <td>Download</td>
        </tr>
    </thead>
    <tbody>
        {% for file in file_list %}
        <tr>
            <td>{{file.FileName}}</td>
            <td>{{file.Uploader}}</td>
            <td>{{file.date_uploaded}}</td>
            <td><a href="{{file.file}}" class="btn btn-primary btn-large btn-block">Download A File</a></td>
            <td><a href="{{file.id}}" class="btn btn-primary btn-large btn-block">Delete File</a></td>
            {% endfor %}
        </tr>

    </tbody>
</table>

{% endblock content %}