{% extends "file_base.html" %}
{% block content %}
<table class="table">
    <thread>
        <tr>
            <tr>User</tr>
            <tr>File Name</tr>
            <tr>Date Created</tr>
            <tr>Download</tr>
        </tr>
    </thread>
    <tbopy>
        {% for file in file_list %}
        <tr>
            <td>{{file.FileName}}</td>
            <td>{{file.Uploader}}</td>
            <td>{{file.date_uploaded}}</td>
            <td><a href="{{file.file}}" class="btn btn-primary btn-large btn-block">Download A File</a></td>
            <td><a href="{{file.id}}" class="btn btn-primary btn-large btn-block">Delete File</a></td>
        {% endfor %}
    </tbopy>
</table>

{% endblock content %}
