{% extends "users_acc/base.html" %}
{% block content %}

<div class="white">
  <div class="messaging">
    <div id="container">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Patients
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'Health_Coach' %}">{{name1}}</a>
                <a class="dropdown-item" href="{% url 'Patient2' %}">{{name2}}</a>
                <a class="dropdown-item" href="{% url 'Patient3' %}">{{name3}}</a>
                <a class="dropdown-item" href="{% url 'Patient4' %}">{{name4}}</a>
                <a class="dropdown-item" href="{% url 'Patient5' %}">{{name5}}</a>
                <a class="dropdown-item" href="{% url 'Patient6' %}">{{name6}}</a>
                <a class="dropdown-item" href="{% url 'Patient7' %}">{{name7}}</a>
                <a class="dropdown-item" href="{% url 'Patient8' %}">{{name8}}</a>
                <a class="dropdown-item" href="{% url 'Patient9' %}">{{name9}}</a>
                <a class="dropdown-item" href="{% url 'Patient10' %}">{{name10}}</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <h1>Patient 7: {{ q.user.get_full_name}}</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="messageBox">
        <b>Please enter your message in the box below</b>
        {{ form.Message }}
      </div>
      <br><br><br><br><br><br><br><br>
      <div class="button messageButton">
        <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" />
      </div>
    </form>

    <div class="messagingTable">
      <table class="table">
        <thead>
          <tr>
            <th>Sent By</th>
            <th>Messages</th>
            <th>Time</th>
          </tr>
        </thead>
        {% for a in PostQ %}
        <tr>
          <td>{{a.TheActualsender}}</td>
          <td>{{a.Message}}</td>
          <td>{{a.meetingDate}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}